/* COLORS

  

*/

@font-face {
  font-family: "rubik";
  src: url("./fonts/rubik-variablefont_wght-webfont.woff2") format("woff2"),
    url("./fonts/rubik-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* --------------- WHOLE PAGE --------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #080d18;
}

.page-grid {
  display: grid;
  grid-template-rows: 80px 1fr 60px;
}
/* --------------- HEADER --------------- */
.page-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-title {
  font-family: rubik;
  font-weight: 500;
  font-size: 6rem;
  color: #fff6e7;
}
/* --------------- MAIN --------------- */
.page-main {
  padding: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* --------------- GAMEBOARD --------------- */
.gameboard {
  width: 35vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;

  background-color: black;
  border-radius: 15px;
}

.gameboard-field {
  aspect-ratio: 1/1;
  background-color: #101a31;
  color: #ca820e;

  text-align: center;

  font-family: rubik;
  font-weight: 800;
  font-size: 15rem;

  transition: all 0.1s;
}

.gameboard-field:hover,
.clicked {
  background-color: #14213d;
  color: #fca311;
}

.left-top {
  border-radius: 15px 0 0 0;
}

.right-top {
  border-radius: 0 15px 0 0;
}

.left-btm {
  border-radius: 0 0 0 15px;
}

.right-btm {
  border-radius: 0 0 15px 0;
}

.reset-button {
  margin-top: 50px;
}
